> # NAIVE BAYES

## Import the libraries and read the dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r'ads.csv')

In [3]:
data.head()

    User ID  Age  EstimatedSalary  Purchased
0  15624510   19            19000          0
1  15810944   35            20000          0
2  15668575   26            43000          0
3  15603246   27            57000          0
4  15804002   19            76000          0

## EDA

In [4]:
data.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
data.drop(['User ID'],axis=1,inplace=True)

In [6]:
data.isna().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

## Store the value of features and target output in seperate DataFrames

In [7]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

## Train-Test Split

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, 
                    test_size=0.25,random_state=0)

## Fit the model and predict the values

In [9]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()

In [10]:
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [11]:
classifier.predict_log_proba(x_test[:5])

array([[-0.10641556, -2.29313949],
       [-0.16799272, -1.86665536],
       [-0.15223942, -1.95745504],
       [-0.07880744, -2.57989281],
       [-0.10256869, -2.32806861]])

## Check Accuracy Score

In [12]:
from sklearn.metrics import accuracy_score, confusion_matrix

print(confusion_matrix(y_test,y_pred))
print('accuracy:',accuracy_score(y_pred,y_test))

[[65  3]
 [ 7 25]]
accuracy: 0.9

In [13]:
from sklearn.metrics import classification_report as cr
print(cr(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93        68
           1       0.89      0.78      0.83        32

    accuracy                           0.90       100
   macro avg       0.90      0.87      0.88       100
weighted avg       0.90      0.90      0.90       100